---
title: Kader
layout: layout/base.njk
---



<div class="section">
  <div class="shell">


    {%- for player in collections.players -%}
      <div class="article-container {{ player.data.filter }}">
        <div class="article">
          <span class="article__link js-popup" data-slide="{{ player.data.spielernummer }}">
            <div class="article__image" style="background-image: url({{ player.data.portrait }});"></div><!-- /.article__image -->

            <div class="article__body">
              <h2>{{ player.data.position }}</h2>

              <h4>
                <span>{{ player.data.vorname }}</span>

                {{ player.data.nachname }}
              </h4>

              <h3>#{{ player.data.spielernummer }}</h3>
            </div><!-- /.article__body -->
          </span>
        </div><!-- /.article -->
      </div><!-- /.article-container -->
    {%- endfor -%}


  </div><!-- .shell -->
</div><!-- .section -->
