---
title: Satzung
layout: layout/base.njk
---

<div class="section">
  <div class="shell">
    <h1>{{ title }}</h1>

    <p>Hier steht Ihnen unsere <a href="/assets/pdf/Satzung_Cologne-Smilies_2021-09.pdf" target="_self" rel="noopener">aktuelle Satzung</a> als PDF Format zum Download bereit.</p>

  </div><!-- .shell -->
</div><!-- .section -->
