<footer class="footer">
<div class="footer__body">
<div class="shell shell--size1">
<a href="/" class="logo"></a>

<nav class="footer__nav">
  <ul>
    <li>
      <a href="/#news" class="js-scroll">News</a>
    </li>

    <li>
      <a href="/#saison" class="js-scroll">Saison</a>
    </li>

    <li>
      <a href="/#team" class="js-scroll">Team</a>
    </li>

    <li>
      <a href="/#training" class="js-scroll">Training</a>
    </li>
  </ul>
</nav><!-- /.nav -->

<nav class="footer__nav">
  <ul>
    <li>
      <a href="/impressum">Impressum</a>
    </li>

    <li>
      <a href="/satzung">Satzung</a>
    </li>

    <li>
      <a href="/datenschutz">Datenschutz</a>
    </li>

    <li>
      <a href="/#kontakt">Kontakt</a>
    </li>
  </ul>
</nav><!-- /.nav -->

<div class="footer__content">
  <p>
    Design by <br>

    <a href="http://www.thomasschiffmann.de/" target="_blank" rel="noopener">ThomasSchiffmann.de</a>
  </p>

  <p>
    Support by <br>

    <a href="https://tghb.studio/" target="_blank" rel="noopener">TheGrandHeavyBold</a>
  </p>
</div><!-- /.footer__content -->

<div class="socials">
  <ul>
    <!-- <li>
      <a href="#">
        <i class="ico-facebook"></i>
      </a>
    </li> -->

    <li>
      <a href="https://www.instagram.com/cologne_smilies/" target="_blank" rel="noopener">
        <i class="ico-insta ico-insta--big"></i>
      </a>
    </li>
  </ul>
</div><!-- /.socials -->

<a href="#" class="btn btn--primary js-up">
  <span>
    To Top

    <i class="ico-arrow-top"></i>
  </span>
</a>
</div><!-- /.shell -->
</div><!-- /.footer__body -->

<div class="footer__bar">
<div class="shell shell--size1">
<p>©{% year %} - Smilies Cologne e.V.</p>
</div><!-- /.shell -->
</div><!-- /.footer__bar -->
</footer><!-- /.footer -->
