<header class="header">
  <a href="#" class="btn-burger">
    <span></span>

    <span></span>

    <span></span>
  </a>

  <div class="header__aside lock-scroll">
    <div class="header__aside-inner">
      <h3>Menu</h3>

      <nav class="nav">
        <ul>
          <li>
            <a href="#news" class="js-scroll">
              <i class="ico-fire"></i>

              News
            </a>
          </li>

          <li>
            <a href="#saison" class="js-scroll">
              <i class="ico-trophy"></i>

              Saison
            </a>
          </li>

          <li>
            <a href="#team" class="js-scroll">
              <i class="ico-team"></i>

              Team
            </a>
          </li>

          <li>
            <a href="#training" class="js-scroll">
              <i class="ico-training"></i>

              Training
            </a>
          </li>

          <!-- <li>
            <a href="#">
              <i class="ico-lock"></i>

              Member
            </a>
          </li>-->
        </ul>
      </nav><!-- /.nav -->

      <div class="header__bar">
        <div class="socials">
          <ul>
            <!--<li>
              <a href="#">
                <i class="ico-facebook ico-facebook--small"></i>
              </a>
            </li> -->

            <li>
              <a href="https://www.instagram.com/cologne_smilies/" target="_blank" rel="noopener" >
                <i class="ico-insta ico-insta--small"></i>
              </a>
            </li>
          </ul>
        </div><!-- /.socials -->

        <ul class="list-contacts">
          <li>
            <a href="/impressum">Impressum</a>
          </li>

          <li>
            <a href="/datenschutz">Datenschutz</a>
          </li>

          <li>
            <a href="/satzung">Satzung</a>
          </li>

          <li>
            <a href="/#kontakt" class="js-scroll">Kontakt</a>
          </li>
        </ul><!-- /.list-contacts -->
      </div><!-- /.header__bar -->
    </div><!-- /.header__aside-inner -->
  </div><!-- /.header__aside -->
</header><!-- /.header -->
