<div class="popup" id="popup-team">
	<div class="popup__inner">
		<a href="#popup-team" class="popup__btn js-popup">
			<i class="ico-x"></i>
		</a>

		<div class="slider js-slider">
			<div class="slider__clip">
				<div class="slider__slides">
					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a1.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Manuel</span>

												Seelbach
											</h4>

											<h3>#69</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a2.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>D</h2>

											<h4>
												<span>Christopher</span>

												Witt
											</h4>

											<h3>#36</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article">
											<div class="article__image" style="background-image: url(assets/images/temp/a3.jpg);"></div><!-- /.article__image -->

											<div class="article__body">
												<h2>D</h2>

												<h4>
													<span>Andreas</span>

													Schnepf
												</h4>

												<h3>#27</h3>
											</div><!-- /.article__body -->
										</div><!-- /.article -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a4.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>D</h2>

											<h4>
												<span>Basti</span>

												Böttcher
											</h4>

											<h3>#88</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a5.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Drik</span>

												Kissel
											</h4>

											<h3>#55</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a6.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>D</h2>

											<h4>
												<span>Patrick</span>

												Beuel
											</h4>

											<h3>#19</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a7.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Sven</span>

												Nitsch
											</h4>

											<h3>#42</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a8.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Klaus</span>

												Raschke
											</h4>

											<h3>#75</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a9.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Daniel</span>

												Krei
											</h4>

											<h3>#89</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a10.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Robert</span>

												Wilson
											</h4>

											<h3>#83</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a11.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Robert</span>

												Wilson
											</h4>

											<h3>#3</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gesamt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<div class="article-big">
							<div class="grid">
								<div class="grid__col grid__col--1of2">
									<div class="article">
										<div class="article__image" style="background-image: url(assets/images/temp/a12.jpg);"></div><!-- /.article__image -->

										<div class="article__body">
											<h2>F</h2>

											<h4>
												<span>Matthias</span>

												Rühl
											</h4>

											<h3>#13</h3>
										</div><!-- /.article__body -->
									</div><!-- /.article -->
								</div><!-- /.grid__col -->

								<div class="grid__col grid__col--1of2">
									<div class="article__content">
										<ul class="list-data">
											<li>
												<h6>Spielerinfo</h6>
											</li>

											<li>
												<span>Geboren</span>

												<span>01.01.1985</span>
											</li>

											<li>
												<span>Schusshand</span>

												<span>links</span>
											</li>

											<li>
												<span>Größe</span>

												<span>179 cm</span>
											</li>

											<li>
												<span>Gewicht</span>

												<span>92 kg</span>
											</li>
										</ul><!-- /.list-data -->

										<ul class="list-data">
											<li>
												<h6>Statistik gesamt</h6>
											</li>

											<li>
												<span>Tore gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Vorlagen gesamt</span>

												<span>23</span>
											</li>

											<li>
												<span>Punkte gesamt</span>

												<span>46</span>
											</li>

											<li>
												<span>Strafminuten gespscramt</span>

												<span>86</span>
											</li>
										</ul><!-- /.list-data -->
									</div><!-- /.article__content -->
								</div><!-- /.grid__col -->
							</div><!-- /.grid -->
						</div><!-- /.article-big -->
					</div><!-- /.slider__slide -->
				</div><!-- /.slider__slides -->
			</div><!-- /.slider__clip -->
		</div><!-- /.slider js-slider -->
	</div><!-- /.popup__inner -->
</div><!-- /.popup -->
