<section class="section section--teritary" id="team" >
	<div class="shell">
		<header class="section__head">
			<h1 class="title" data-text="Team">
				<span>Team</span>
			</h1><!-- /.title -->

			<h3 class="subtitle">
				<span>Kader 2019/20</span>
			</h3><!-- /.subtitle -->
		</header><!-- /.section__head -->

		<div class="section__body">
			<ul class="list-filters js-filters">
				<li class="is-active">
					<a href="*">
						<span>All</span>
					</a>
				</li>

				<li>
					<a href=".forward">
						<i class="ico-sword"></i>

						<span>Forward</span>
					</a>
				</li>

				<li>
					<a href=".defense">
						<i class="ico-shield"></i>

						<span>Defense</span>
					</a>
				</li>

				<li>
					<a href=".goalie">
						<i class="ico-castle"></i>

						<span>Goalie</span>
					</a>
				</li>
			</ul><!-- /.list-filters -->

			<div class="articles article-grid">
				<div class="article-container defense">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="1">
							<div class="article__image" style="background-image: url(assets/images/temp/a1.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Manuel</span>

									Seelbach
								</h4>

								<h3>#69</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="2">
							<div class="article__image" style="background-image: url(assets/images/temp/a2.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>D</h2>

								<h4>
									<span>Christopher</span>

									Witt
								</h4>

								<h3>#36</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="3">
							<div class="article__image" style="background-image: url(assets/images/temp/a3.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>D</h2>

								<h4>
									<span>Andreas</span>

									Schnepf
								</h4>

								<h3>#27</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="4">
							<div class="article__image" style="background-image: url(assets/images/temp/a4.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>D</h2>

								<h4>
									<span>Basti</span>

									Böttcher
								</h4>

								<h3>#88</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="5">
							<div class="article__image" style="background-image: url(assets/images/temp/a5.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Drik</span>

									Kissel
								</h4>

								<h3>#55</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="6">
							<div class="article__image" style="background-image: url(assets/images/temp/a6.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>D</h2>

								<h4>
									<span>Patrick</span>

									Beuel
								</h4>

								<h3>#19</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="7">
							<div class="article__image" style="background-image: url(assets/images/temp/a7.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Sven</span>

									Nitsch
								</h4>

								<h3>#42</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div>

				<div class="article-container goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="8">
							<div class="article__image" style="background-image: url(assets/images/temp/a8.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Klaus</span>

									Raschke
								</h4>

								<h3>#75</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="9">
							<div class="article__image" style="background-image: url(assets/images/temp/a9.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Daniel</span>

									Krei
								</h4>

								<h3>#89</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="10">
							<div class="article__image" style="background-image: url(assets/images/temp/a10.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#83</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="11">
							<div class="article__image" style="background-image: url(assets/images/temp/a11.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#3</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="12">
							<div class="article__image" style="background-image: url(assets/images/temp/a12.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Matthias</span>

									Rühl
								</h4>

								<h3>#13</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->





				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="5">
							<div class="article__image" style="background-image: url(assets/images/temp/a5.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Drik</span>

									Kissel
								</h4>

								<h3>#55</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="6">
							<div class="article__image" style="background-image: url(assets/images/temp/a6.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>D</h2>

								<h4>
									<span>Patrick</span>

									Beuel
								</h4>

								<h3>#19</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="7">
							<div class="article__image" style="background-image: url(assets/images/temp/a7.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Sven</span>

									Nitsch
								</h4>

								<h3>#42</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div>

				<div class="article-container is-hidden goalie">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="8">
							<div class="article__image" style="background-image: url(assets/images/temp/a8.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Klaus</span>

									Raschke
								</h4>

								<h3>#75</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="9">
							<div class="article__image" style="background-image: url(assets/images/temp/a9.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Daniel</span>

									Krei
								</h4>

								<h3>#89</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="10">
							<div class="article__image" style="background-image: url(assets/images/temp/a10.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#83</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="11">
							<div class="article__image" style="background-image: url(assets/images/temp/a11.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#3</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="12">
							<div class="article__image" style="background-image: url(assets/images/temp/a12.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Matthias</span>

									Rühl
								</h4>

								<h3>#13</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="9">
							<div class="article__image" style="background-image: url(assets/images/temp/a9.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Daniel</span>

									Krei
								</h4>

								<h3>#89</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="10">
							<div class="article__image" style="background-image: url(assets/images/temp/a10.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#83</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="11">
							<div class="article__image" style="background-image: url(assets/images/temp/a11.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Robert</span>

									Wilson
								</h4>

								<h3>#3</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->

				<div class="article-container is-hidden forward">
					<div class="article">
						<a href="#popup-team" class="article__link js-popup" data-slide="12">
							<div class="article__image" style="background-image: url(assets/images/temp/a12.jpg);"></div><!-- /.article__image -->

							<div class="article__body">
								<h2>F</h2>

								<h4>
									<span>Matthias</span>

									Rühl
								</h4>

								<h3>#13</h3>
							</div><!-- /.article__body -->
						</a>
					</div><!-- /.article -->
				</div><!-- /.article-container -->
			</div><!-- /.articles -->
		</div><!-- /.section__body -->

		<div class="section__actions">
			<a href="#" class="btn btn--border js-btn-expand">
				<span>
					Gesamtes Team anzeigen

					<i class="ico-arrow"></i>
				</span>
			</a>
		</div><!-- /.section__actions -->
	</div><!-- /.shell -->
</section><!-- /.section -->
