<section class="section section--teritary" id="team" >
	<div class="shell">
		<header class="section__head">
			<h1 class="title" data-text="Team">
				<span>Team</span>
			</h1><!-- /.title -->

			<h3 class="subtitle">
				<span>Kader 2022/23</span>
			</h3><!-- /.subtitle -->
		</header><!-- /.section__head -->

		<div class="section__body">
			<ul class="list-filters js-filters">
				<li class="is-active">
					<a href="*">
						<span>All</span>
					</a>
				</li>

				<li>
					<a href=".forward">
						<i class="ico-sword"></i>

						<span>Forward</span>
					</a>
				</li>

				<li>
					<a href=".defense">
						<i class="ico-shield"></i>

						<span>Defense</span>
					</a>
				</li>

				<li>
					<a href=".goalie">
						<i class="ico-castle"></i>

						<span>Goalie</span>
					</a>
				</li>
			</ul><!-- /.list-filters -->

			<div class="articles article-grid">
				{%- for player in collections.players -%}
		      <div class="article-container {{ player.data.filter }}">
		        <div class="article">
		          <span class="article__link js-popup" data-slide="{{ player.data.spielernummer }}">
		            <div class="article__image" style="background-image: url({{ player.data.portrait }});"></div><!-- /.article__image -->

		            <div class="article__body">
		              <h2>{{ player.data.position }}</h2>

		              <h4>
		                <span>{{ player.data.vorname }}</span>

		                {{ player.data.nachname }}
		              </h4>

		              <h3>#{{ player.data.spielernummer }}</h3>
		            </div><!-- /.article__body -->
		          </span>
		        </div><!-- /.article -->
		      </div><!-- /.article-container -->
		    {%- endfor -%}
			</div><!-- /.articles -->
		</div><!-- /.section__body -->

		<!--<div class="section__actions">
			<a href="#" class="btn btn--border js-btn-expand">
				<span>
					Gesamtes Team anzeigen

					<i class="ico-arrow"></i>
				</span>
			</a>
		</div> /.section__actions -->

	</div><!-- /.shell -->
</section><!-- /.section -->
